html {
    font-family: Tahoma;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 80em;
    margin: auto;
}

h1 {
    text-align: center;
}

.table {
    text-align: center;
}

tr {
    border: 1px #ccc solid;
}

.email {
    text-align: center;
    font-family: monospace;
}