body, html {
  font-family: "Actor", sans-serif;
  color: #111;
  background-color: #fcfcfc;
}

.App {
  text-align: center;
}

.carousel-caption {
  bottom: 3rem;
  padding: 0.4em 1em;
}

.carousel-caption > * {
  background-color: white;
  width: fit-content;
  padding: 0.1em 0.2em;
  margin: 0.2em auto;
  border-radius: 5px;
  box-shadow: 1px 1px 3px black;
}

.carousel-caption > h4 {
  padding: 0.2em 0.4em;
  font-weight: 100;
  color: #fffe;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: #000;
  border-radius: 50%;
  padding: 1em;
}

.carousel {
  cursor: pointer;
}

.homepage-lower-area > * {
  
}

.homepage-btn-gp > * {
  margin: 0.6em 0.3em;
  width: 8em;
}

.homepage-btn-gp {
  width: auto;
  margin: auto;
}

.homepage-logo {
  width: auto;
  height: 4em;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5em;
  /* width: fit-content; */
}

.App-header > * {
  /* margin: auto 0.2em; */
}

.homepage-footer {
  /* background-color: #666; */
  /* color: #fcfcfc; */
  z-index: 100;
  background-color: white;
  color: #666;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 2em;
}

.homepage-content {
  margin-bottom: 3em;
}
