.inline-code {
    font-family: 'Courier New', Courier, monospace;
    background-color: #333;
    color: #eee;
    padding: 10px;
    border-radius: 5px;
    border: #333 solid 1px;
}

.inline-circle {
    display: inline-block;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    margin-left: 0.25em;
}

.inline-circle-green {
    background-color: green;
}

.inline-circle-gray {
    background-color: #aaa;
}

.dollar-sign {
    color: yellow;
    display: inline-block;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    margin-right: 0.5em;
}
