body, html {
    --bg-brit: 250;
    font-family: "Actor", sans-serif;
    background-color: rgba(var(--bg-brit), var(--bg-brit), var(--bg-brit));
}

.breadcrumb-item {
    --bs-breadcrumb-divider: ">";
}

a {
    text-decoration: none;
}
